//Font Family
$raleway: 'Raleway', sans-serif;

// Font Weight
$xlight: 200;
$regular: 400;
$bold: 700;

// Font Sizes
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 38px;
$small: 12px;
$x-small: 10px;

// Color Scheme
$white: #fff;
$snow: #fafafa;
$quicksilver: #a0a0a0;

$salmon: #e97f72;
$jellybean: #e56353;
$pastelpink: #f0a9a1;

$granitegray: #686963;
$taupegray: #91918d;
$gray: #babab8;


